

<div class="container edit_user">
  <div class="col-md-6 col-md-offset-3">

    <% provide(:title, "Edit user") %>
    <h1>Update your profile</h1>


    <%= form_for(@user) do |f| %>
    <%#= render 'shared/error_messages' %>
    <div class="col-md-6">

      <%= f.label :name %>
      <%= f.text_field :name, required: true, class: 'form-control' %>
      <br>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <br>


      <%= f.label :gender %>
      <%#= f.text_field :gender, required: true, class: 'form-control' %>
      <%= f.select :gender, %w{Male Female}, :prompt => 'Select', required: true, placeholder: 'Gender', class: 'form-control' %>
      <br>
      
      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth, required: true, class: 'form-control' %>
      <br>
      <%= f.label :profile_image, 'Upload a profile picture of yourself:' %><br>
      <%= f.file_field :profile_image, class: "form-control" %>

    </div>

    <div class="col-md-6">
      <%= f.label :about_me %>
      <%= f.text_field :about_me, class: 'form-control about_me' %>

      <% if @user.sign_in_count <= 1 %>


      <% end %>
    </div>


    <%#= f.label :role %>
    <%#= f.text_field :role, class: 'form-control' %>


    



    <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>


  </div>
</div>