

<div class='container'>
    <div class='col-md-6'>
      <h2><%= @user.name %></h2>

      <%#= button_to('Delete User', user_path(@user), method: :delete, data:{confirm: "Delete user? Are you sure?"}) %>
      <% if current_user == @user %>
      <%= link_to("Edit user", edit_user_path(@user)) %>
      <% end %>
      <br>
      <br>
      <%= link_to image_tag(@user.profile_image.medium.url), @user.profile_image.original.url if @user.profile_image?%> 
      <p>Email: <%= @user.email %></p>
      <p>Date of birth: <%= @user.date_of_birth %></p>    
      <p>Role: <%= @user.role %></p>    
      <%= @user.toggle_follow!(@user) %>
      <br>
      <% unless current_user == @user %>
      <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
      <% end %>
    </div>
  

    <div class="col-md-6">
      <% if current_user == @user %>
      <h4>Friend Requests</h4>
      <ul>
        <% @user.requested_friendships.each do |request| %>
      <li>
        <%= request.email %> 
        <%= link_to "Accept", friendship_path(:id => request), :method => "put" %> 
        <%= link_to "Decline", friendship_path(:id => request), :method => :delete %>
      </li>
      <% end %>
      </ul>
      <% end %>
      <h4>Friends</h4>
      <ul>
        <% @user.friends.each do |friend| %>
        <li>
          <%= friend.email %> 
          <%= link_to image_tag(friend.profile_image.thumb.url), friend.profile_image.original.url if friend.profile_image?%> 

          <% if current_user == @user %>
          <%= link_to "Remove", friendship_path(:id => friend), :method => :delete %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  

  <div class="row">
    <div class="col-md-12">
 
      <h2>User Timeline</h2>
    </div>
      <% @user.photos.each do |photo| %>
    <div class="col-md-3">

        <%# if photo.album_id == @album.id %>
        <%#= recipe.name %>
        <%#= link_to(photo.title, photo_path(photo)) %>
        <%= link_to image_tag(photo.photo_image.medium.url), photo.photo_image.original.url if photo.photo_image? == true %>  
    </div> 
      <% end %>
  </div>
 
</div>
