

<div class='container'>
<div class='holder'>

<h1><%= @user.name %></h1>
<br>
<p><%= @user.email %></p>

<%= button_to('Delete User', user_path(@user), method: :delete, data:{confirm: "Delete user? Are you sure?"}) %>
<%= link_to("Edit user", edit_user_path(@user)) %>
<br>
<h2>Profile Photo</h2>
<br>
<%#= link_to image_tag(@user.profile_image.thumb.url), @user.profile_image.original.url if @user.profile_image? %>

<%= link_to image_tag(@user.profile_image.thumb.url), @user.profile_image.original.url if @user.profile_image?%> 

<h2>User Timeline</h2>


<% @user.photos.each do |photo| %>

<%# if photo.album_id == @album.id %>
<%#= recipe.name %>
<%= link_to(photo.title, photo_path(photo)) %>&nbsp;&nbsp;
<%= link_to image_tag(photo.photo_image.thumb.url), photo.photo_image.original.url if photo.photo_image? == true %>   
<br>
<%# else %>
<%# end %>


<% end %>
<br>
<br>





</div>


</div>