<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h2>Friend Requests</h2>
      </div>
      <div class="col-md-12">
            <% current_user.requested_friendships.each do |request| %>
            <div class="col-md-3">
                <%= image_tag(request.profile_image.medium.url) if request.profile_image %>

                <%= request.name %> would like to be friends

                <%= link_to "Accept", friendship_path(:id => request), :method => "put", class: "btn btn-primary" %> 
                <%= link_to "Decline", friendship_path(:id => request), :method => :delete, class: "btn btn-danger"  %>

            </div>
            <% end %>
      </div>
  </div>
</div>







<div class="container">
  
      <div class="col-md-12">
          <h2>Friends</h2>
      </div>
    <div class="col-md-12">
      
      <% current_user.friends.each do |user| %>
    
        <div class="col-md-2">
            
                  <%= link_to image_tag(user.profile_image.thumb.url), user_path(user) if user.profile_image?%> 
                  <%= user.name %> 
                  <% if current_user == @user %>
                  <%= link_to "Remove", friendship_path(:id => friend), :method => :delete, class: "btn btn-xs-danger" %>
                  <% end %>
            
        </div>
      <% end %>            
    </div>
</div>

<div class="container">
  
      <div class="col-md-12">
          <h2>Find Friends</h2>
      </div>
          <div class="col-md-12">
              <% @users.each do |user| %>
                <% if user.profile_image? %>
                    <div class="col-md-2" style="padding-bottom:15px;">
                    <%= link_to image_tag(user.profile_image.thumb.url), user_path(user) if user.profile_image?%> 
                    <%= user.name %> 
                  <%# if current_user == @user %>
                  <%#= link_to "Remove", friendship_path(:id => friend), :method => :delete, class: "btn btn-xs-danger" %>
                  <%# end %>
              </div>
              <% end %>
              <% end %>
          </div>

</div>


    
   


