
<div class='container'>
  <div class='holder'>
  <h1>New Photo</h1>
  <br>
  <br>


    <%= form_for @photo do |f| %>

    <%= f.label :recipe_image, 'Choose File:' %><br>
    <%= f.file_field :recipe_image %>
    <br>
    <br>
    <%= f.label :title, 'Photo title:' %>
    <%= f.text_field :title %>
    <br>
    <br>
    <%= f.label :album_id, 'Album:' %>
    <%= f.select :album_id, Album.all.map { |a| [a.title, a.id] } %>
    <br>
    <br>
    <%= f.label :description, 'Description:' %>
    <%= f.text_field :description %>
    <br>
    <br>
    
     <p><% @ingredients.each do |ingredient| %>
    <div class='list'>
      <%= f.label :ingredient, ingredient.name %>-
       <%= check_box_tag "recipe[ingredient_ids][]", ingredient.id, @recipe.ingredients.include?(ingredient) %>&nbsp;&nbsp;
       </div>
       <% end %></p>


    <%#= f.select :ingredient_id, Ingredient.all.map { |c| [c.name, c.id] } %>

       <%#= f.check_box :ingredient, recipe.ingredients << ingredient %>


      <%#= link_to(ingredient.name, ingredient_path(ingredient)) %>

      <br>
     <br>
      <br>
      <br>
      <div id='button'>
      <%= f.label 'Update:' %>
      <%= f.submit 'Add Recipe!!' %>
      </div>
      <% end %>
      
    </div>
  </div>