
<div id="bg">
  <img src="http://www.leilappetit.com/blog/wp-content/uploads/2014/06/pimms.jpg?e80df2" alt="">
</div>

<div class='container'>
<div class='holder'>

<h1><%= @photo.title %></h1>

<% if @photo.photo_image? %>
<%= link_to image_tag(@photo.photo_image.thumb.url), photo_path(@photo) %>

<!-- #photo.photo_image.medium.url %>    -->
<% end %>
<%#= image_tag(@country.flag_image, alt: "alt text is always required", width:200) %>
<p><b>Album: </b><%= @photo.album.title %>.</p>
<p><b>Caption: </b> <%= @photo.caption %></p>


<!-- <b>Ingredients: </b> -->


<%# @recipe.quantities.each do |quantity| %>
<%#= quantity.amount %>
<%#= quantity.ingredient.try(:name) %>
<!-- <br> -->
<%# end %>

<br>
   <%#= link_to image_tag(@photo.photo_image.medium.url), @photo.photo_image.original.url if @photo.photo_image? %>   
<br>
<br>
<%# raise %>
<% if @photo.comments.first == true %>
<% @photo.comments.each do |comment| %>

<%= comment.content %> 
<%= comment.user.email %>
<%= comment.created_at %>
<% end %>
<% else %>
<h3>This photo has no comments </h3>
<% end %>

<br>
<br>


<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>
 
<p>
  <strong>Captio :</strong>
  <%= @photo.caption %>
</p>
 
<h2>Comments</h2>
<% @photo.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
 
<h2>Add a comment:</h2>
<%= form_for([@photo, @photo.comments.build]) do |f| %>
  <p>
    <%#= f.label :commenter %><br>
    <%#= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>




<%#= button_to('Add Comment', new_comment_path(@comment))  %>
<%#= link_to('New Comment', new_comment_path) %>




<!-- <p>|&nbsp;&nbsp;&nbsp;&nbsp;<%# @photo.comments.each do |comment| %> -->

    
    <!-- <%#= link_to(comment.name, ingredient_path(ingredient)) %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp; -->
   
    
<%# end %>
<!-- &nbsp;&nbsp;
 --><%# raise %>

<%# if user_signed_in do %>

<%= button_to('Delete Photo', photo_path(@photo), method: :delete, data:{confirm: "Delete Photo? Are you sure?"})  %>
<%= link_to("Edit Photo", edit_photo_path(@photo))  %>
<%# end %>

</div>


</div>