<!DOCTYPE html>
<html>
<head>
  <title>Instagran - Photo Sharing for Seniors</title>

  <!-- INSTALL BOOTSTRAP FROM CDN____________________________________________________________ -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- STANDARD RAILS TEMPATE TAGS____________________________________________________________ -->

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- INSTALL GOOGLE FONTS_______________________________________________________________________ -->

  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Crimson+Text:600' rel='stylesheet' type='text/css'>
  <!-- You can use open graph tags to customize link previews.
      Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
      <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="Your Website Title" />
      <meta property="og:description"   content="Your description" />
      <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
</head>

<body>
<!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- SET BACKGROUND IMAGE________________________________________________________________________ -->

 <!--  <div id="bg">
    <img src="https://fa707ec5abab9620c91c-e087a9513984a31bae18dd7ef8b1f502.ssl.cf1.rackcdn.com/6366155_dating-then-and-now-8-basic-differences_8d46240c_m.jpg?bg=675F58" alt="">
  </div> -->

<!-- ADD MAIN NAVIGATION_________________________________________________________________________ -->
<% if user_signed_in? %>
<div class="container top_navbar">
<div class="row">
    <div class="col-md-3">
      <div class="mainlogo animated shake">
        <%=  image_tag("/images/logo_light.png") %>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3 logout_box">

    <p>Signed In as : <%= current_user.name if current_user.name %> (<%= current_user.email %>)</p>
    </div>
    </div>
</div>

  <!-- <div class='title_bar'> -->
  <div class="container main_navbar">
      <div class="row">
        <div class="col-sm-2 flip-animate">
          <% if current_user.gender == "Male" %>
          <%= link_to image_tag("/icons/male.png"), user_path(current_user) %>
          <% elsif current_user.gender == "Female" %>
          <%= link_to image_tag("/icons/female.png"), user_path(current_user) %>
          <% end %>
          <p><%= link_to('My Profile', user_path(current_user)) %></p>
        </div>
        <div class="col-sm-2 flip-animate">
          <%= link_to image_tag("/icons/albums.png"), albums_path %>
          <p><%= link_to('My Albums', albums_path) %></p>
        </div>

      <div class="col-sm-2 flip-animate">
        <%= link_to image_tag("/icons/photos.png"), photos_path %> 
        <p><%= link_to('All My Photos', photos_path) %></p>
      </div>

      <div class="col-sm-2 flip-animate">
        <%= link_to image_tag("/icons/comment.png"), mailbox_inbox_path %>
        <p><%= link_to "Inbox", mailbox_inbox_path %></p>
      </div>

      <div class="col-sm-2 flip-animate">
          <%= link_to image_tag("/icons/heart.png"), friendships_path %>
          <p><%= link_to('My Friends', friendships_path) %></p>
      </div>
   
      <div class="col-sm-2 flip-animate">
      <%= link_to image_tag("/icons/logout.png"), destroy_user_session_path, method: :delete %>
      <p><%= link_to 'logout', destroy_user_session_path, method: :delete %></p>
      </div>
    </div>
 </div>       
 <% end %>    


        <%# else %>
        <%#= link_to 'login', new_user_session_path %>
        <%#= link_to 'register', new_user_registration_path %>
        
       <!--  <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="50" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div> -->
   
 

  <!-- DEVISE FLASH ERRORS_________________________________________________________________________ -->


<%= yield %>
<footer class='footer'>
<p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<% if user_signed_in? %>

 <%= link_to('New Album', new_album_path)  %>    |    <%= link_to('New Photo', new_photo_path) %>  |    <%= link_to('All Users', users_path) %>   |  
 <% end %>
</footer>

<!-- JAVASCRIPT SCRIPTS_______________________________________________________________________________ -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>
